<div class="loggedOut">
  <div>
    <h2>Oops! Looks like you're not logged in</h2>
  </div>
  <div>
    {{#paper-button onClick=(route-action 'signIn') primary=true raised=true}}Log In{{/paper-button}}
  </div>
</div>


