<h1>Player Handbook</h1>


{{#if addInfoDialog}}
  {{add-info
    type=infoType
    handleSubmit=(action 'appendToList')
    closeAction=(action 'closeDialog' 'cancel')
  }}
{{/if}}
<div class="rows">
  {{world-info
      infotype='friendly npcs'
      name='Name'
      list=friendly
      new=(action 'openDialog' 'friendly')
      deleteItem=(action 'deleteItem')
  }}

  {{world-info
      infoType='Enemies Encountered'
      name='Enemy Type'
      list=enemy
      new=(action 'openDialog' 'enemy')
      deleteItem=(action 'deleteItem')
  }}

  {{world-info
      infoType='Other Info'
      name='Title'
      list=other
      new=(action 'openDialog' 'other')
      deleteItem=(action 'deleteItem')
  }}
</div>
